<div id="container-change-user-type" class="container-default-cards-register">
  <mat-card class="container-title-register">
    <div class="container-title-register cursor-pointer" (click)="navigateTo(enumRouteApp.PRE_REGISTER)">
      <mat-icon class="mat-18 color-magenta-soft">arrow_back_ios</mat-icon>
      <mat-card-title>{{dataTexts.changeUserType.headerYourProfile}}</mat-card-title>
    </div>
  </mat-card>
  <form [formGroup]="formGroup" class="content-change-user-type">
    <label
      class="container-type-data-default flex-1"
      for="devotee"
      >
      <mat-card
        class="card-type-data-default"
        [class.border-checked]="userTypeChanged === enumUserType.DEVOTEE">
        <section class="container-icon-type">
          <mat-icon class="color-magenta-soft">favorite</mat-icon>
        </section>
        <section class="container-title-text">
          <div class="container-title-check">
            <h2 class="font-booster-next-bold color-blue-dark">{{dataTexts.changeUserType.iam.devotee.title}}</h2>
            <label >
              <input
                type="radio"
                id="devotee"
                name="account_type"
                [value]="enumUserType.DEVOTEE"
                class="option-input radio"
                formControlName="account_type"
                (change)="changeUserType(enumUserType.DEVOTEE)">
            </label>
          </div>
          <p class="color-blue-dark">{{dataTexts.changeUserType.iam.devotee.text}}</p>
        </section>
      </mat-card>
    </label>
    <label
      class="container-type-data-default flex-1"
      for="especial"
      >
      <mat-card
        class="card-type-data-default"
        [class.border-checked]="userTypeChanged === enumUserType.SPECIAL">
        <section class="container-icon-type">
          <mat-icon class="color-magenta-soft">accessible</mat-icon>
        </section>
        <section class="container-title-text">
          <div class="container-title-check">
            <h2 class="font-booster-next-bold color-blue-dark">{{dataTexts.changeUserType.iam.special.title}}</h2>
            <label >
              <input
                #radioDevotee
                type="radio"
                id="especial"
                name="account_type"
                [value]="enumUserType.SPECIAL"
                class="option-input radio"
                formControlName="account_type"
                (change)="changeUserType(enumUserType.SPECIAL)">
            </label>
          </div>
          <p class="color-blue-dark">{{dataTexts.changeUserType.iam.special.text}}</p>
        </section>
      </mat-card>
    </label>
    <label
      class="container-type-data-default flex-1"
      for="curious"
      >
      <mat-card class="card-type-data-default" [class.border-checked]="userTypeChanged === enumUserType.CURIOUS">
        <section class="container-icon-type">
          <mat-icon class="color-magenta-soft">visibility</mat-icon>
        </section>
        <section class="container-title-text">
          <div class="container-title-check">
            <h2 class="font-booster-next-bold color-blue-dark">{{dataTexts.changeUserType.iam.curious.title}}</h2>
            <label >
              <input
                type="radio"
                id="curious"
                name="account_type"
                [value]="enumUserType.CURIOUS"
                class="option-input radio"
                formControlName="account_type"
                (change)="changeUserType(enumUserType.CURIOUS)">
            </label>
          </div>
          <p class="color-blue-dark">{{dataTexts.changeUserType.iam.curious.text}}</p>
        </section>
      </mat-card>
    </label>
  </form>

</div>
<section class="contianer-btns out-container">
  <button
    class="button stroke-primary"
    (click)="navigateTo(enumRouteApp.PRE_REGISTER)">
    {{ dataTexts.buttons.btnBack }}
  </button>
  <button
    class="button primary"
    [disabled]="formGroup.invalid"
    (click)="navigateTo(enumRouteApp.RULES)">

    {{ dataTexts.buttons.btnContinue }}
  </button>

</section>
