<div id="container-sign-in">
  <section class="content-sign-in" [class.content-sign-in-mobile]="openMobileSignIn">
    <div class="content-header-remember">
      <div class="title-sign-return">
        <mat-icon svgIcon="navigate_before" (click)="navigateTo()"></mat-icon>
        <a class="color-blue-dark font-booster-next-bold f-size-24" >{{dataTexts.rememberPasswordPg.title}}</a>
      </div>
      <p>{{dataTexts.rememberPasswordPg.text}}</p>
    </div>
    <form id="sign-in" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Digite seu email" type="email">
      </mat-form-field>
      <button class="button-primary mb-15px">
        {{dataTexts.rememberPasswordPg.btnRecover}}
      </button>
    </form>
    <button class="button-third" (click)="navigateTo()">
      {{dataTexts.rememberPasswordPg.btnBack}}
    </button>

  </section>

</div>

