@import '_colors';
@import '_buttons';
@import '_mixins';
@import '_sizes';
.content-remember-password {

  #sign-in {
    display: flex;
    width: $s-100per;
    flex-direction: column;
    margin-top: $s-20px;
  }
}
.container-buttons- {
  &mobile {
    display: flex;
    flex-direction: column;
    gap: $s-10px;
    @include min-tablet {
      display: none;
    }
  }
  &others {
    display: flex;
    flex-direction: row;
    gap: $s-10px;
  }
}
.others-logins {
  text-align: center;
}
.infos-about-app {
  text-align: center;
}

