<div id="container-remember-password" class="container-default-cards-initial-page">
  <section class="content-remember-password content-deafult-cards-initial-page" [class.content-deafult-cards-initial-page-mobile]="openMobileSignIn">
    <app-header-cards-initial-page [data]="dataCardInitialPage"></app-header-cards-initial-page>
    <form id="sign-in" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Digite seu email" type="email">
      </mat-form-field>
      <button class="button primary mb-15px">
        {{dataTexts.rememberPasswordPg.btnRecover}}
      </button>
    </form>
    <button class="button third" (click)="navigateTo()">
      {{dataTexts.rememberPasswordPg.btnBack}}
    </button>

  </section>

</div>

