#container-filters-preferences {
  .container-type-data-default {
    padding: 20px 30px;
  }
  .content-preferences {
    .first-title {
      margin-top: 0;
    }
    .content-deafult-preference-sections {
      .slider {
        width: 100%;
        max-width: 50%;
      }
    }
    .text-age {
      margin-left: 20px;
    }
  }
}
