@import '_custom';
:host {
  width: 100%;
  height: 100%;
}
#container-user-settings {
  .container-cards-settings {
    display: grid;
    grid-row-gap: 1em;
    margin-top: 1.4rem;
    grid-column-gap: 20px;
    justify-content: space-between;
    grid-template-columns: 1fr;
    @media screen and (min-width: $epecific-mobile-configurations) {
      grid-template-columns: 1fr 1fr;

    }
    @include min-tablet {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .card-settings{
      cursor: pointer;
      display: grid;
      justify-content: center;
      align-items: center;
      justify-items: center;
      color: $blue-dark;
      border-radius: 10px;
      min-height: 150px;
      padding: 40px;
      box-sizing: border-box;
      border: 1px solid transparent;

      &:hover{
        border: 1px solid $magenta-soft;
        background-color: $blue-soft;
        transition: 0.2s;
      }
      mat-icon{
        display: flex;
        color: $magenta-soft;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        font-size: 50px;
        width: 100%;
        height: 100%;
        max-width: 50px;
      }
      mat-card-title{
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
