@import '_custom';
:host {
  background-color: $gray-ultra-light-soft;
  height: 100%;
}
#container-user-matchs {
  @include dp-flex-alignment(column);
  height: 100%;
  min-height: 100%;
  margin: 45px 15px;

  @include min-tablet {
    @include dp-flex-alignment(row, initial, center);

  }
  .container-infos {
    @include dp-flex-alignment();
    gap: 15px;
    margin: 10px;
    @include min-tablet {
      @include dp-flex-alignment(column, initial, initial);
    }
    .container-icon-info {
      background-color: $white;
      @include dp-flex-alignment();
      width: 50px;
      height: 50px;
      border-radius: 100%;
      box-shadow: 0px 3px 6px #00000029;
      mat-icon {
        color: $gray-icons-50;
        &.activated {
          color: $gray-icons;
        }
      }
    }
  }
  .sugestion-matchs {
    width: 100%;
    height: 100%;
    min-height: 650px;
    position: relative;
    @include dp-flex-alignment();
  }
  .container-sugestion-matchs {
    width: 100%;
    height: 100%;
    @include dp-flex-alignment();
    .container-match-and-action {
      width: 100%;
      height: 100%;


      position: relative;
      @include dp-flex-alignment(column);
      overflow: hidden;
      border-radius: 10px;
      .action-active {
        position: absolute;
        bottom: 10px;
        z-index: 6;
        gap: 10px;
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        @include dp-flex-alignment();
        max-width: 400px;


      }
    }
    .container-cards-matchs {
      @include dp-flex-alignment(column, initial, flex-end);
      background-repeat: no-repeat;
      background-attachment: inherit;
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      min-height: 560px;
      max-height: 560px;

      @include min-tablet {
        max-width: 400px;

      }
      .container-gradient-see-infos {
        background-image: linear-gradient($black-01, $black-80);
        @include dp-flex-alignment(column, initial, flex-end);
        gap: 10px;
        padding: 20px 10px;
        border-radius: 10px;
        .container-user-info {
          .tip-user-type {
            @include dp-flex-alignment();
            max-width: 80px;
            border-radius: 30px;
            font-size: 14px;
            padding: 2px 0;
          }
        }
        .distance-match {
          @include dp-flex-alignment(row, center, flex-start);
          mat-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
          }
          p {
            font-size: 14px;
          }
        }
        .container-buttons-action {
          @include dp-flex-alignment();
          gap: 15px;
        }

      }
      &:nth-child(1) {
        z-index: 5;
        top: 0;
        width: 100%;

      }
      &:nth-child(2) {
        z-index: 4;
        position: absolute;
        // top: 20px;
        width: 100%;
      }
      &:nth-child(3) {
        position: absolute;
        // top: 40px;
        z-index: 3;
        width: 100%;
      }
    }
    .like-animation {
      transform: rotate(45deg) translate3d(640px,240px,20px)!important;
      transition: 1.5s!important;
      background-color: #00DB92;
    }

    .dislike-animation {
      transform: rotate(-45deg) translate3d(-640px,240px,20px)!important;
      transition: 1.5s!important;
      background-color: red;
    }
  }
}
