@import '_custom';
#container-header-logged {
  background-color: $blue-dark;
  .content-header-logged {
    @include dp-flex-alignment(row, flex-start, space-between);
    padding: 15px;
    gap: 15px;
  }
  .container-logo {
    @include dp-flex-alignment();
    .logo {
      width: 30px;
      height: auto;
    }
    p {
      color: $white;
      font-size: 25px;
    }
  }

}
