<main id="container-change-password">
  <mat-card-title
    class="color-blue-dark font-booster-next-bold">
    {{dataTexts.userConfigurations.features.changePassword}}
  </mat-card-title>
  <form
    class="container-form-change-password"
    [formGroup]="formGroup">
    <div class="container-default-inputs-orientation content-data-person">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{dataTexts.inputs.oldPassword.label}}</mat-label>
        <input
          matInput
          [placeholder]="dataTexts.inputs.oldPassword.placeHolder"
          type="password"
          autocomplete="none"
          formControlName="old_password"
          [type]="hide ? 'password' : 'text'"
          >
        <div
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="cursor-pointer">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
      </mat-form-field>
    </div>
    <div class="container-default-inputs-orientation">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{dataTexts.inputs.newPassword.label}}</mat-label>
        <input
          matInput
          [placeholder]="dataTexts.inputs.newPassword.placeHolder"
          type="password"
          autocomplete="none"
          formControlName="password"
          [type]="hideNew ? 'password' : 'text'"

          >
          <div
          mat-icon-button
          matSuffix
          (click)="hideNew = !hideNew"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNew"
          class="cursor-pointer">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
      </mat-form-field>
    </div>
  </form>
  <section class="contianer-btns">
    <button
      class="button-stroke-primary"
      mat-stroked-button
      color="primary"
      (click)="closeModal()"
      >
      {{ dataTexts.buttons.btnCancel }}
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="savePassword()"
      >
      {{ dataTexts.buttons.btnSave }}
    </button>
  </section>
</main>
