$min-mobile: 200px;
$epecific-mobile: 280px;
$max-mobile: 767px;
// TABLET

$min-tablet: 769px;
$medium-tablet: 1025px;
$max-tablet: 1250px;
// DESKTOP
$min-desk: 1251px;
$medium-desk: 1401px;
$max-desk: 1601px;
