@import '_colors';
.button- {
  &primary {
    padding: 10px;
    border-radius: 60px;
    background: $principal-gradient;
    width: 100%;
    color: $white;
    font-size: 19px;
    cursor: pointer;
    &:hover {
      background-color: $gray-soft;
    }
  }
  &secondary {
    padding: 10px;
    border-radius: 60px;
    background: $magenta-soft-20;
    width: 100%;
    color: $magenta-soft;
    font-size: 19px;
    cursor: pointer;
    &:hover {
      background: $magenta-soft-30;
    }
  }
}
