@import '_colors';
@import '_sizes';
.button{
  padding: $s-10px;
  border-radius: 60px;
  width: 100%;
  font-size: 19px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Booster-next-bold' "Roboto", "Helvetica Neue", sans-serif;
  &.primary {
    background: $principal-gradient;
    color: $white;
    &:hover {
      background: $principal-gradient-hover;
      // background: $black;
      // opacity: 0.2;
    }
  }
  &.secondary {
    background: $magenta-soft-20;
    color: $magenta-soft;
    &:hover {
      background: $magenta-soft-30;
    }
  }
  &.third {
    border: 1px solid $magenta-soft;
    background: $white;
    color: $magenta-soft;
    &:hover {
      background: $gray-ultra-soft;
    }
  }
  &.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $s-10px;
    padding: $s-10px;
    border-radius: 60px;
    border: 1px solid $gray-soft;
    background: $white;
    width: 100%;
    color: $gray-soft;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background: $gray-ultra-soft;
    }
    mat-icon.size-18 {
      width: 18px;
      height: 18px;
    }
  }
}
