$font-booster-next: Booster-next-regular;
$font-booster-next-bold: Booster-next-bold;

.font-booster-next-regular {
  font-family:  $font-booster-next;
}

.font-booster-next-bold {
  font-family:  $font-booster-next-bold;
}
