$font-booster-next: "Booster-next-regular";
$font-booster-next-bold: "Booster-next-bold";

.font-booster-next-regular {
  font-family:  $font-booster-next;
}

.font-booster-next-bold {
  font-family:  $font-booster-next-bold;
}

.f-size-24 {
  font-size: 24px;
}
.f-size-16 {
  font-size: 16px;
}
.f-size-14 {
  font-size: 14px;
}
.f-w-700 {
  font-weight: 700;
}
