<div id="container-profile">
  <div class="contianer-close">
    <mat-icon class="mat-18 cursor-pointer" (click)="closeModal()">
      close
    </mat-icon>
  </div>
  <div>
    <section class="container-header">
      <div class="container-profile-image">
        <img #profileImg [src]="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
        <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
          <mat-icon>
            no_photography
          </mat-icon>
        </div>
      </div>
      <div class="container-person-name">
        <div class="name-age color-blue-dark font-booster-next-bold">
          <span class="first-name">{{ data.name }},</span>
          <span>
            {{ age }}
          </span>
        </div>
        <span>
          <mat-icon>report</mat-icon>
        </span>
      </div>
      <p class="user-type color-blue-dark">
        {{ data.account_type }}
      </p>
      <p class="description-about color-blue-dark">
        "{{ data.about }}"
      </p>
    </section>
    <div class="container-user-data">
      <section class="container-about-me width-100-per container-default-cards-register flex-1">
        <mat-card class="container-title-register">
          <mat-card-title>{{dataTexts.profileUser.titleAboutMe}}</mat-card-title>
        </mat-card>
        <mat-card class="container-type-data-default">
          <main class="content-profile-data">
            <section class="container-personal-information">
              <h3> {{dataTexts.profileUser.personalInfo}}</h3>
              <div class="content-personal-information">
                <div class="container-default-infos">
                  <!-- <div class="container-default-personal-info">
                    <mat-icon>call</mat-icon> <span>(11)9 1111-1111</span>
                  </div> -->
                  <div
                    class="container-default-personal-info"
                    *ngIf="data.occupation">
                    <mat-icon>work</mat-icon>
                    <span>{{ data.occupation }}</span>
                  </div>
                  <div
                    class="container-default-personal-info"
                    *ngIf="data.gender">
                    <mat-icon>person_pin</mat-icon>
                    <span>
                      {{ data.gender }}
                    </span>
                  </div>
                  <div
                    class="container-default-personal-info"
                    *ngIf="data.sexual_orientation"
                    >
                    <mat-icon>loyalty</mat-icon>
                    <span>{{ data.sexual_orientation }}</span>
                  </div>
                </div>
              </div>
            </section>

            <section class="container-personal-information">
              <h3 *ngIf="data.tiic || data.prejudice"> {{dataTexts.profileUser.myDisability}}</h3>
              <div class="content-personal-information">
                <div class="container-default-infos-disability">
                  <section class="my-disability container-default-infos">
                    <div class="container-default-personal-info" *ngIf="data.tiic">
                      <mat-icon class="check-circle">check_circle</mat-icon>
                      <span>{{ dataTexts.profileUser.haveBIID }}</span>
                    </div>
                    <div class="container-default-personal-info" *ngIf="data.prejudice">
                      <mat-icon class="check-circle">check_circle</mat-icon>
                      <span>{{ dataTexts.profileUser.prejudice }}</span>
                    </div>
                  </section>
                  <!-- CIDS -->
                  <section class="container-default-infos" *ngIf="data.my_cids.length > 0">
                    <div class="container-default-personal-info">
                      <mat-icon>healing</mat-icon>
                      <h4> {{dataTexts.profileUser.ICDS}} </h4>
                    </div>
                    <div
                      class="color-blue-dark disability-list"
                      *ngFor="let dataCid of data.my_cids">
                      <span class="bullet">•</span>
                      <span *ngIf="languageApp === enumLanguage.PT">{{dataCid.cid.description}}</span>
                      <span *ngIf="languageApp === enumLanguage.US">{{dataCid.cid.description_en}}</span>
                    </div>
                  </section>
                  <!-- PROCEDIMENTOS MEDICOS -->
                  <section class="container-default-infos" *ngIf="data.medical_procedures.length > 0">
                    <div class="container-default-personal-info">
                      <mat-icon>content_cut</mat-icon>
                      <h4> {{dataTexts.profileUser.medicalProcedures}} </h4>
                    </div>
                    <div
                      class="color-blue-dark disability-list"
                      *ngFor="let dataMedical of data.medical_procedures">
                      <span class="bullet">•</span>
                      <span *ngIf="languageApp === enumLanguage.PT">{{dataMedical.medical_procedures.name}}</span>
                      <span *ngIf="languageApp === enumLanguage.US">{{dataMedical.medical_procedures.name_en}}</span>
                    </div>
                  </section>
                  <!-- REMEDIO -->
                  <section
                    class="container-default-infos"
                    *ngIf="data.my_drugs.length > 0">
                    <div class="container-default-personal-info">
                      <mat-icon>local_pharmacy</mat-icon>
                      <h4> {{dataTexts.profileUser.medicines}} </h4>
                    </div>
                    <div
                      class="color-blue-dark disability-list"
                      *ngFor="let dataDrug of data.my_drugs">
                      <span class="bullet">•</span>
                      <span *ngIf="languageApp === enumLanguage.PT">{{dataDrug.drug.name}}</span>
                      <span *ngIf="languageApp === enumLanguage.US">{{dataDrug.drug.name_en}}</span>
                    </div>
                  </section>
                  <!-- Hostpitais -->
                  <section
                    class="container-default-infos"
                    *ngIf="data.my_hospitals.length > 0">
                    <div class="container-default-personal-info">
                      <mat-icon>medical_services</mat-icon>
                      <h4> {{dataTexts.profileUser.hospitals}} </h4>
                    </div>
                    <div
                    class="color-blue-dark disability-list"
                    *ngFor="let dataHosptal of data.my_hospitals">
                    <span class="bullet">•</span>
                    <span *ngIf="languageApp === enumLanguage.PT">{{dataHosptal.hospital.name}}</span>
                  </div>
                  </section>
                </div>
              </div>
            </section>
          </main>
        </mat-card>
      </section>
      <section class="container-pictures width-100-per container-default-cards-register flex-2">
        <mat-card class="container-title-register">
          <mat-card-title>{{dataTexts.profileUser.titlePictures}}</mat-card-title>
        </mat-card>
        <mat-card class="container-type-data-default">
          <main class="content-data-pictures">
            <div class="container-profile-image">
              <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
              <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
                <mat-icon>
                  no_photography
                </mat-icon>
              </div>
            </div>
            <div class="container-profile-image">
              <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
              <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
                <mat-icon>
                  no_photography
                </mat-icon>
              </div>
            </div>
            <div class="container-profile-image">
              <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
              <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
                <mat-icon>
                  no_photography
                </mat-icon>
              </div>
            </div>
            <div class="container-profile-image">
              <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
              <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
                <mat-icon>
                  no_photography
                </mat-icon>
              </div>
            </div>
            <div class="container-profile-image">
              <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
              <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
                <mat-icon>
                  no_photography
                </mat-icon>
              </div>
            </div>
          </main>
        </mat-card>
      </section>
    </div>
  </div>


</div>
