<footer class="dp-flex-all-center">
  <div class="container-footer">
    <section class="logo-terms">
      <div class="logo dp-flex-all-center">
        <a href="#" rel="noopener noreferrer" class="dp-flex-all-center">
          <img src="/assets/images/logo.png" alt="Logo Devotee" data-alt="altlogo" id="altfootlogo">
          <span>
            <p class="logo-text">Devotee</p>
          </span>
        </a>
      </div>
      <div class="terms-policy">
        <div class="content-terms policy-privacy">
          <p
            class="tablinks policy my-btn-terms">POLITIC</p>
        </div>
        <div class="content-terms">
          <p  class="tablinks  terms my-btn-terms">TERMOS</p>
        </div>
      </div>
    </section>
    <section class="download-copyright">
      <div class="download-app dp-flex-all-center">
        <p>Baixe o aplicativo!</p>
        <div class="buttons-download">
          <a href="https://play.google.com/store/apps/details?id=com.phurshell.devotee&hl=pt_BR" target="_blank"
            rel="noopener noreferrer">
            <img src="/assets/images/playstore.svg" alt="Botão play store"></a>
          <a href="https://apps.apple.com/br/app/devotee/id1331331692" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/appstore.svg" alt="Botão Apple store"></a>
        </div>
      </div>

    </section>
    <section id="copyright" class="copyright">copyrigth</section>
  </div>

</footer>
