@import '_sizes';
@import '_colors';
@import '_fonts';
@import '_breakpoints';
@import '_material-components';
@import '_mixins';

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.container-default-inputs-orientation {
  gap: 20px;
  @include dp-flex-alignment(column);
  @include min-tablet {
    @include dp-flex-alignment();
  }
  mat-form-field {
    width: 100%;
  }
}
.dp-flex {
  display: flex;
}
.dp-flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dp-flex-column-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p, a {
  font-family: 'Booster-next-regular';
}
.content-header-sign-in,
.content-header-remember,
.content-header-cards-initial-page {
  mat-icon {
    svg {
      fill: $white;
    }
}
}
.cursor-pointer {
  cursor: pointer;
}
.container-default-cards-initial-page {
  .content-deafult-cards-initial-page {
    padding: $s-40px;
    background-color: $white;
    border-radius: $s-10px;
    @media screen and(max-width: $max-mobile){
      display: none;
    }
    &-mobile {
      @media screen and(max-width: $max-mobile){

        display: initial;
        background-color: #FFFFFF;
        height: $s-100vh;
        width: $s-100per;
        max-width: $s-100vw;
        position: fixed;
        top: 0;
        right: 0;
        box-sizing: border-box;
      }

    }
  }
}
.infos-about-app {
  text-align: center;
}
.text {
  &.error {
    color: $red-error;
    min-height: 20px;
  }
  &.center {
    text-align: center;
  }
}

@for $i from 1 to 5
{
  .flex-#{$i}
  {
    flex: $i;
  }
}
.input-search-list {
  padding: 0 10px;
}
@font-face {
  font-family: Booster-next-regular;
  src: url(assets/fonts/BoosterNextFY-Regular.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-bold;
  src: url(assets/fonts/BoosterNextFY-Bold.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-black;
  src: url(assets/fonts/BoosterNextFY-Black.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-medium;
  src: url(assets/fonts/BoosterNextFY-Medium.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: "Booster-next-regular", "Helvetica Neue", sans-serif; }
