@import '_sizes';
@import '_colors';
@import '_fonts';
@import '_breakpoints';
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.dp-flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
p, a {
  font-family: 'Booster-next-regular';
}
h2 {
  font-family: 'Booster-next-bold';
}

.content-header-sign-in {
  mat-icon {
    svg {
      fill: $white;
    }
}
}
@font-face {
  font-family: Booster-next-regular;
  src: url(assets/fonts/BoosterNextFY-Regular.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-bold;
  src: url(assets/fonts/BoosterNextFY-Bold.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-black;
  src: url(assets/fonts/BoosterNextFY-Black.otf) format("opentype");
}
@font-face {
  font-family: Booster-next-medium;
  src: url(assets/fonts/BoosterNextFY-Medium.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
