<main id="container-chat" class="container-default-cards-register">
  <section class="container-default-itens-chat flex-1 width-100-per">
    <mat-card class="container-title-register">
      <mat-card-title>{{dataTexts.chat.matches.title}}</mat-card-title>
    </mat-card>
    <mat-card class="container-type-data-default container-matches">
      <div
        class="container-person-message"
        *ngFor="let matche of dataMatches.data"
        (click)="showChat(matche)">
        <div class="content-person-message cursor-pointer">
          <section
            class="container-person-image skeleton"
            [ngClass]="{'skeleton': matche.loading}">
            <img #profileImg src="" onerror="this.onerror = null; this.style.display = 'none'" alt="Foto de perfil">
            <div class="mat-icon-size border-radius-100" *ngIf="profileImg.onerror === null">
              <mat-icon>
                no_photography
              </mat-icon>
            </div>
          </section>
          <section class="container-info color-blue-dark">
            <p
              class="person-name font-booster-next-bold"
              [ngClass]="{'skeleton skeleton-text': matche.loading}">{{ matche?.latest_message?.user?.name }}</p>
            <p
              class="last-message "
              [ngClass]="{'skeleton skeleton-text': matche.loading}">{{ matche?.latest_message?.content }}</p>
          </section>
        </div>
      </div>
    </mat-card>
  </section>
  <section class="container-default-itens-chat flex-2 width-100-per">

    <app-chat-messages
      [dataChat]="dataChat"
      [userData]="userData"
      [matchId]="matchId"></app-chat-messages>
  </section>

</main>
