@import '_custom';
:host {
  height: 100%;
  background-color: $princiapl-background-gradient;

}
body{
  max-width: 100vw;
}
#container-chat {
  @include dp-flex-alignment(column, flex-start);
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;

  margin: auto;
  @include min-tablet {
    @include dp-flex-alignment(row, flex-start);

  }
  &.chat-mobile {

    @media screen and (max-width: $min-tablet) {
      position: absolute;
      top: 0;
      padding: 0;
      width: 100%;
    }
  }
  .container-default-itens-chat {
    @include dp-flex-alignment(column, initial, initial);
    height: 100%;
    gap: 10px;
    .container-matches-chat {
      @include dp-flex-alignment(row, initial, initial);
      gap: 20px;

    }
    .container-matches {
      height: 100%;
      max-height: 600px;
      min-height: 400px;
      overflow: auto;
      @include dp-flex-alignment(column, initial, initial);
       gap: 10px;
    }
    .container-no-matches {
      font-size: 20px;
      height: 100%;
      max-height: 600px;
      min-height: 400px;
      overflow: auto;
      @include dp-flex-alignment(column, center, center);

    }
  }
  .container-title-register {
    box-sizing: border-box;
    padding: 0;
    @include dp-flex-alignment(row, center, flex-start);
  }
  .container-person-message {
    box-shadow: none;
    border-radius: 20px;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
    &:not(:first-child) {
      padding-top: 10px;
    }
    .notification-chat {
      &::after, &::before{
        display: block;
        position: absolute;
      }
      &::after{
      content:"";
      font-size: 20px;
      bottom: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      z-index: 3;
      }
      &::before{
        content:"";
        top: -5px;
        right: -5px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background: $magenta-soft;
        z-index: 1;
        border: 1px solid $blue-dark;
      }
    }
    .container-person-image{
      border-radius: 100%;
      background-color: $gray-medium-soft;
      border: 1px solid $gray-soft;
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      max-width: 80px;
      max-height: 80px;
      @include dp-flex-alignment();
      @include min-tablet {
        width: 100%;
      }
      img{
        width: 100%;
        max-width: 80px;
        max-height: 80px;
        border-radius: 100%;
        min-width: 80px;
        min-height: 80px;
        border: 1.5px solid $magenta-soft;
      }
      mat-icon {
        font-size: 15px;
        width: 100%;
        height: 100%;
      }
    }
    .content-person-message {
      @include dp-flex-alignment(row, center, flex-start);
      gap: 10px;
      width: 100%;
    }
  }
  .chat-section-desktop {
    display: none;
    @include min-tablet {
      z-index: 2;
      @include dp-flex-alignment(column, initial, initial);
    }
  }
  .chat-section-mobile {
    display: none;
  }
  .show-chat-mobile {
    @include dp-flex-alignment(column, initial, initial);
    position: fixed;
    z-index: 100;
    background-color: $gray-ultra-light-soft;
    @include min-tablet {
      display: none;
    }
  }
  .container-type-data-default {
    padding: 0;
    border-radius: 0
  }
}
.last-message {
  @include dp-flex-alignment(row, initial, initial);
  gap: 5px;

}
.last-msg-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  white-space: nowrap;
}
// .last-msg-txt:before {
//   content: '...';
//   position: absolute;
//   right: 0px;
//   bottom: 0;
//   background-color: #ffffff;
//   padding: 0 0px 0 0.25em;
// }
