@import '_custom';
#container-dialog-activate-location {
  @include dp-flex-alignment(column, center, space-between);
  gap: 30px;
  height: 100%;
  .container-icon {
    background-color: $gray-medium-soft;
    border-radius: 100%;
    padding: 10px;
    width: 60px;
    height: 60px;
    mat-icon {
      font-size: 60px;
      width: 100%;
      height: 100%;
      color: $blue-dark;
    }
  }
  .container-icon-infos {
    @include dp-flex-alignment(column);
    gap: 20px;
    height: 100%;
  }
  .container-text-activate-location {
    @include dp-flex-alignment(column);
    color: $blue-dark;
    p {
      text-align: center
    }
  }
  .container-footer-activate-location {
    @include dp-flex-alignment(column);
    gap: 10px;
    width: 100%;
    button {
      max-width: 280px;
    }
    .button-stroke-primary {
      border-radius: 20px;
    }
  }
}
