<div id="container-dialog-activate-location">
  <!-- <div class="container-close">
    <mat-icon class="mat-18 cursor-pointer" (click)="closeModal()">
      close
    </mat-icon>
  </div> -->

  <div class="container-icon-infos width-100-per">
    <section class="container-icon">
      <mat-icon class="mat-18">
        location_on
      </mat-icon>
    </section>
    <section 	 *ngIf="!showAddManually" class="container-text-activate-location">
      <h2 class="font-booster-next-bold">{{ dataTexts.activateLocation.title }}</h2>
      <p>{{ dataTexts.activateLocation.textInfo }}</p>
    </section>
    <section *ngIf="showAddManually" class="container-text-activate-location">
      <h2 class="font-booster-next-bold">{{ dataTexts.manuallyLocation.title }}</h2>
      <p>{{ dataTexts.manuallyLocation.textInfo }}</p>
    </section>
    <form *ngIf="showAddManually" [formGroup]="formGroup" class="contianer-search-street width-100-per">
      <mat-form-field class="example-full-width width-100-per" appearance="fill">
        <mat-label>{{dataTexts.inputs.address.label}}</mat-label>
        <input type="text"
               [placeholder]="dataTexts.inputs.address.placeHolder"
               aria-label="Number"
               matInput
               formControlName="address_description"
               [matAutocomplete]="auto"
               (input)="searchPlace($event.target.value)">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option?.description}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="formGroup.controls.address_description.hasError(errorsEnum.REQUIRED)">
          {{ dataTexts.inputs.genericErrors.inputRequired }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <footer class="container-footer-activate-location" *ngIf="showAddManually">
    <button
    class="button stroke-primary"
    mat-stroked-button
    color="primary"
    (click)="returnModal()">
      {{dataTexts.buttons.btnBack}}
    </button>
    <button
    mat-button
    cdkFocusInitial
    class="button primary"
    >
      {{dataTexts.buttons.btnContinue}}
    </button>
</footer>
  <footer class="container-footer-activate-location" *ngIf="!showAddManually">
      <button
      class="button stroke-primary"
      mat-stroked-button
      color="primary"
      (click)="addManually()">
        {{dataTexts.activateLocation.buttons.addManually}}
      </button>
      <button
      mat-button
      class="button primary"
      (click)="activateLocation()">
      <div class="container-spinner-btn" *ngIf="loadingGetLocation">
        <mat-spinner class="color white" [diameter]="20"></mat-spinner>
      </div>
        <span *ngIf="!loadingGetLocation">
          {{dataTexts.activateLocation.buttons.activateLocation}}

        </span>
      </button>
  </footer>

</div>
