@import '_custom';
@import '_mixins';

:host {
  width: 100%;
}
#container-register-data {
  max-width: 800px;
  margin: 20px;
  @include min-tablet {
    width: 100%;
    margin: auto;
  }
  mat-card {
    border-radius: 10px;
    mat-card-title {
      color: $blue-dark;
    }
  }
  .container-title-register {
    background-color: $blue-dark;
    border-radius: 10px;
    padding: 20px;
    color: $white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  .content-register-data {
    .container-profile-image {
      .profile-img{
        display: flex;
        margin: 0 auto;
        position: relative;
        width:100px;
        height: 100px;
        background-color: $gray-medium-soft;
        border: 1px solid $gray-soft;
        border-radius: 8px;
        color: #909090;
        font-size: 120px;
        &:hover {
          border: 1px solid $blue-dark;
        }
      }
      .content-picture {
        @include dp-flex-alignment();
      }
      .photo-principal{
        max-width: 100px;
        mat-icon{
          display: flex;
          justify-content: center;
        }
        .avatar{
          img{
            width: auto;
            border-radius: 8px;
            max-height: 68px;
          }
          .profile-img::after{
            content:"add_a_photo";
            font-size: 20px;
            display: block;
            position: absolute;
            bottom: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            z-index: 3;
          }
          .profile-img::before{
            content:"";
            display: block;
            position: absolute;
            bottom: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: $gray-medium-soft;
            z-index: 1;
          }
        }
      }
    }
  }
  .input-file{
    display: none;
  }
}
