<div id="container-register-data">
  <div class="container-title-register">
    Seu perfil
  </div>
  <mat-card>
    <main class="content-register-data">
      <form class="container-profile-image">
        <mat-card-title>Foto de perfil</mat-card-title>
        <div class="content-picture">
          <div class="photo-principal">
            <label for="avatar" class="avatar cursor-pointer">
              <mat-icon class="profile-img">person</mat-icon>
            </label>
            <input
              type="file"
              id="avatar"
              name="avatar"
              accept="image/png, image/jpeg"
              class="input-file input-photo-principal">
          </div>
        </div>

      </form>
    </main>
  </mat-card>

</div>
