<div id="container-register-data">
  <mat-card class="container-title-register">
    <mat-card-title>{{dataTexts.iamEspecialAndDevotee.headerYourProfile}}</mat-card-title>
  </mat-card>
  <mat-card>
    <main class="content-register-data">
      <form [formGroup]="formGroup">
        <section class="container-profile-image">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleProfilePicture}}</mat-card-title>
          <div class="content-picture">
            <div class="photo-principal">
              <label for="avatar" class="avatar cursor-pointer">
                <mat-icon class="profile-img" *ngIf="!imagesURL?.profileURL">person</mat-icon>
                <mat-icon class="profile-img" *ngIf="imagesURL?.profileURL">
                  <img class="" src={{imagesURL?.profileURL}} alt="">
                </mat-icon>

              </label>
              <input
                type="file"
                id="avatar"
                name="avatar"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.PROFILE_URL)">
            </div>
          </div>
        </section>
        <section class="container-others-pictures">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleMorePictures}}</mat-card-title>
          <div class="more-pictures">
            <div class="more-photos flex-1 cursor-pointer">
              <label for="more-photos-1" class="cursor-pointer">
                <mat-icon svgIcon="camera_add_picture" *ngIf="!imagesURL?.firstImage"></mat-icon>
                <div *ngIf="imagesURL?.firstImage">
                  <img class="" src={{imagesURL?.firstImage}} alt="">
                </div>
              </label>

              <input
                type="file"
                id="more-photos-1"
                name="more-photos-1"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.FIRST_IMAGE)">
            </div>
            <div class="more-photos flex-1 cursor-pointer">
              <label for="more-photos-2" class="cursor-pointer">
                <mat-icon class="profile-img" svgIcon="camera_add_picture" *ngIf="!imagesURL?.secondImage"></mat-icon>
                <div class="profile-img" *ngIf="imagesURL?.secondImage">
                  <img class="" src={{imagesURL?.secondImage}} alt="">
                </div>
              </label>

              <input
                type="file"
                id="more-photos-2"
                name="more-photos-2"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.SECOND_IMAGE)">
            </div>
            <div class="more-photos flex-1 cursor-pointer" >
              <label for="more-photos-3" class="cursor-pointer">
                <mat-icon class="profile-img" svgIcon="camera_add_picture" *ngIf="!imagesURL?.thirdImage"></mat-icon>
                <div class="profile-img" *ngIf="imagesURL?.thirdImage">
                  <img class="" src={{imagesURL?.thirdImage}} alt="">
                </div>
              </label>
              <input
                type="file"
                id="more-photos-3"
                name="more-photos-3"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.THIRD_IMAGE)">
            </div>
          </div>
        </section>
        <section class="container-data-person">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleAboutYourself}}</mat-card-title>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.name.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.name.placeHolder"
                type="name"
                autocomplete="name"
                formControlName="name"
                >
                <mat-error *ngIf="controlsForm.name.hasError(errorsEnum.REQUIRED)">
                  {{ dataTexts.inputs.genericErrors.inputRequired }}
                </mat-error>
                <mat-error *ngIf="controlsForm.name.hasError(errorsEnum.SPECIAL_CHARACTERES)">
                  {{ dataTexts.inputs.name.errors.specialCharacters }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.email.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.email.placeHolder"
                type="email"
                formControlName="email"
                >
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.profession.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.profession.placeHolder"
                type="text"
                autocomplete="work"
                formControlName="occupation"
                >
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.gender.label }}</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.sexualOrientation.label }}</mat-label>
              <mat-select formControlName="sexual_orientation">
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{ dataTexts.inputs.moreAboutYourself.label }}</mat-label>
              <textarea
                matInput
                [placeholder]="dataTexts.inputs.moreAboutYourself.placeHolder"
                formControlName="about">
              </textarea>
            </mat-form-field>
          </div>
        </section>
        <section class="container-data-disability">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleAboutYourDisability}}</mat-card-title>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.selectICD.label }}</mat-label>
              <mat-select multiple>
                <mat-form-field class="example-full-width width-100-per" appearance="fill">
                  <mat-label>{{ dataTexts.inputs.searchs.iIcd.label }}</mat-label>
                  <input
                    matInput
                    [placeholder]="dataTexts.inputs.searchs.iIcd.placeholder"
                    type="name"
                    autocomplete="name"
                    >
                </mat-form-field>
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.selectMedicalProcedures.label }}</mat-label>
              <mat-select multiple>
                <mat-form-field class="example-full-width width-100-per" appearance="fill">
                  <mat-label>{{ dataTexts.inputs.searchs.medicalProcedures.label }}</mat-label>
                  <input
                    matInput
                    [placeholder]="dataTexts.inputs.searchs.medicalProcedures.placeholder"
                    type="name"
                    autocomplete="name"
                    >
                </mat-form-field>
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.selectMedications.label }}</mat-label>
              <mat-select multiple>
                <mat-form-field class="example-full-width width-100-per" appearance="fill">
                  <mat-label>{{ dataTexts.inputs.searchs.medicines.label }}</mat-label>
                  <input
                    matInput
                    [placeholder]="dataTexts.inputs.searchs.medicines.placeholder"
                    type="name"
                    autocomplete="name"
                    >
                </mat-form-field>
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.selectHospitals.label }}</mat-label>
              <mat-select multiple>
                <mat-form-field class="example-full-width width-100-per" appearance="fill">
                  <mat-label>{{ dataTexts.inputs.searchs.hospitals.label }}</mat-label>
                  <input
                    matInput
                    [placeholder]="dataTexts.inputs.searchs.hospitals.placeholder"
                    type="name"
                    autocomplete="name"
                    >
                </mat-form-field>
                <mat-option value="volvo">Volvo</mat-option>
                <mat-option value="saab">Saab</mat-option>
                <mat-option value="mercedes">Mercedes</mat-option>
                <mat-option value="audi">Audi</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </section>
      </form>
    </main>
  </mat-card>
  <section class="contianer-btns">
    <button class="button-stroke-primary" mat-stroked-button color="primary">Voltar</button>
    <button mat-flat-button color="primary">Proximo</button>
  </section>
</div>
