<div id="container-register-data" class="container-default-cards-register">
  <mat-card class="container-title-register">
    <div class="container-title-register cursor-pointer" (click)="navigateTo(enumRouterApp.REGISTER_WHO_ARE_YOU)">
      <mat-icon class="mat-18 color-magenta-soft">arrow_back_ios</mat-icon>
      <mat-card-title>{{dataTexts.iamEspecialAndDevotee.headerYourProfile}}</mat-card-title>
    </div>
  </mat-card>
  <div class="container-type-data-default">
    <main class="content-register-data">
      <form [formGroup]="formGroup">
        <mat-card class="container-others-pictures container-register-default cotainer-data-register">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleMorePictures}}</mat-card-title>
          <div class="more-pictures">
            <div class="more-photos flex-1 cursor-pointer">
              <label for="more-photos-1" class="cursor-pointer">
                <mat-icon class="profile-img"*ngIf="!imagesURL?.firstImage">
                  add_circle
                </mat-icon>
                <div *ngIf="imagesURL?.firstImage">
                  <img class="" src={{imagesURL?.firstImage}} alt="">
                </div>
              </label>

              <input
                type="file"
                id="more-photos-1"
                name="more-photos-1"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.FIRST_IMAGE)">
            </div>
            <div class="more-photos flex-1 cursor-pointer">
              <label for="more-photos-2" class="cursor-pointer">
                <mat-icon class="profile-img" *ngIf="!imagesURL?.secondImage">
                  add_circle
                </mat-icon>
                <div class="profile-img" *ngIf="imagesURL?.secondImage">
                  <img class="" src={{imagesURL?.secondImage}} alt="">
                </div>
              </label>

              <input
                type="file"
                id="more-photos-2"
                name="more-photos-2"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.SECOND_IMAGE)">
            </div>
            <div class="more-photos flex-1 cursor-pointer" >
              <label for="more-photos-3" class="cursor-pointer">
                <mat-icon class="profile-img" *ngIf="!imagesURL?.thirdImage">
                  add_circle
                </mat-icon>
                <div class="profile-img" *ngIf="imagesURL?.thirdImage">
                  <img class="" src={{imagesURL?.thirdImage}} alt="">
                </div>
              </label>
              <input
                type="file"
                id="more-photos-3"
                name="more-photos-3"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.THIRD_IMAGE)">
            </div>
            <div class="more-photos flex-1 cursor-pointer" >
              <label for="more-photos-4" class="cursor-pointer">
                <mat-icon class="profile-img" *ngIf="!imagesURL?.fortyImage">
                  add_circle
                </mat-icon>
                <div class="profile-img" *ngIf="imagesURL?.fortyImage">
                  <img class="" src={{imagesURL?.fortyImage}} alt="">
                </div>
              </label>
              <input
                type="file"
                id="more-photos-4"
                name="more-photos-4"
                accept="image/png, image/jpeg"
                class="input-file input-photo-principal"
                (change)="selectedImage($event.target.files, imagesTypes.FORTY_IMAGE)">
            </div>
          </div>
        </mat-card>
        <mat-card class="container-data-person container-register-default cotainer-data-register">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleAboutYourself}}</mat-card-title>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.name.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.name.placeHolder"
                type="name"
                autocomplete="name"
                formControlName="name"
                >
                <mat-error *ngIf="controlsForm.name.hasError(errorsEnum.REQUIRED)">
                  {{ dataTexts.inputs.genericErrors.inputRequired }}
                </mat-error>
                <mat-error
                  *ngIf="controlsForm.name.hasError(errorsEnum.SPECIAL_CHARACTERES)
                  && !controlsForm.name.hasError(errorsEnum.REQUIRED)">
                  {{ dataTexts.inputs.name.errors.specialCharacters }}
                </mat-error>
                <mat-error
                  *ngIf="!controlsForm.name.hasError(errorsEnum.SPECIAL_CHARACTERES)
                  && !controlsForm.name.hasError(errorsEnum.REQUIRED)
                  && controlsForm.name.hasError(errorsEnum.FORMAT_INVALID)">
                {{ dataTexts.inputs.name.errors.invalidFormatName }}
              </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.email.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.email.placeHolder"
                type="email"
                formControlName="email"
                >
                <mat-error *ngIf="controlsForm.email.hasError(errorsEnum.REQUIRED)">
                  {{ dataTexts.inputs.genericErrors.inputRequired }}
                </mat-error>
                <mat-error
                  *ngIf="controlsForm.email.hasError(errorsEnum.EMAIL)
                  && !controlsForm.email.hasError(errorsEnum.REQUIRED)">
                  {{ dataTexts.inputs.email.errors.invalidEmail }}
                </mat-error>
            </mat-form-field> -->
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{dataTexts.inputs.profession.label}}</mat-label>
              <input
                matInput
                [placeholder]="dataTexts.inputs.profession.placeHolder"
                type="text"
                autocomplete="work"
                formControlName="occupation"
                >
            </mat-form-field>
            <mat-form-field (click)="picker.open()" appearance="fill">
              <mat-label (click)="picker.open()">{{dataTexts.inputs.birthdate.label}}</mat-label>
              <input
                type="hidden"
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="picker"
                maxlength="10"
                (dateChange)="dateSelected($event)"
                (keypress)="false"
                >
                <input
                (keypress)="false"
                  matInput
                  [mask]=""
                  (click)="picker.open()"
                  formControlName="birthdate">
              <mat-hint>{{dataTexts.inputs.birthdate.placeHolder}}</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="controlsForm.birthdate.hasError(errorsEnum.REQUIRED)">
                {{ dataTexts.inputs.genericErrors.inputRequired }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.gender.label }}</mat-label>
              <mat-select formControlName="gender" (valueChange)="genderChanged($event)">
                <mat-option
                  *ngFor="
                    let gender
                    of dataTexts.genders"
                  [value]="gender.value">
                  {{gender.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="controlsForm.gender.hasError(errorsEnum.REQUIRED)">
                {{ dataTexts.inputs.genericErrors.inputRequired }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" *ngIf="showWasBorn">
              <mat-label>{{ dataTexts.inputs.wasBorn.label }}</mat-label>
              <mat-select formControlName="show_as_gender">
                <mat-option
                  *ngFor="
                    let gender
                    of dataTexts.genders.slice(0, 2)"
                  [value]="gender.value">
                  {{gender.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="controlsForm.show_as_gender.hasError(errorsEnum.REQUIRED)">
                {{ dataTexts.inputs.genericErrors.inputRequired }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>{{ dataTexts.inputs.sexualOrientation.label }}</mat-label>
              <mat-select formControlName="sexual_orientation">
                <mat-option
                  *ngFor="
                    let sexualOrientation
                    of dataTexts.sexualOrientations"
                  [value]="sexualOrientation.value">
                  {{sexualOrientation.label}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="controlsForm.sexual_orientation.hasError(errorsEnum.REQUIRED)">
                {{ dataTexts.inputs.genericErrors.inputRequired }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{ dataTexts.inputs.moreAboutYourself.label }}</mat-label>
              <textarea
                matInput
                [placeholder]="dataTexts.inputs.moreAboutYourself.placeHolder"
                formControlName="about">
              </textarea>
              <mat-error *ngIf="controlsForm.about.hasError(errorsEnum.REQUIRED)">
                {{ dataTexts.inputs.genericErrors.inputRequired }}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
        <mat-card *ngIf="specialAccount" class="container-data-disability container-register-default cotainer-data-register">
          <mat-card-title>{{dataTexts.iamEspecialAndDevotee.titleAboutYourDisability}}</mat-card-title>
          <div class="container-default-inputs-orientation content-data-person">
            <app-multiple-select-cids class="example-full-width width-100-per" (selectedCids)="setCids($event)"></app-multiple-select-cids>
            <app-multiple-select-medical-procedures class="example-full-width width-100-per" (selectedMedicalProcedures)="setMedicalProcedures($event)"></app-multiple-select-medical-procedures>
          </div>
          <div class="container-default-inputs-orientation content-data-person">
            <app-multiple-select-drugs class="example-full-width width-100-per" (selectedDrugs)="setDrugs($event)"></app-multiple-select-drugs>
            <app-multiple-select-hospitals class="example-full-width width-100-per" (selectedHospitals)="setHospitals($event)"></app-multiple-select-hospitals>
          </div>
        </mat-card>
      </form>
    </main>
  </div>

</div>
<section class="contianer-btns out-container">
  <button
    class="button stroke-primary"
    (click)="navigateTo(enumRouterApp.REGISTER_WHO_ARE_YOU)">
    {{ dataTexts.buttons.btnBack }}
  </button>
  <button
    class="button primary"
    [disabled]="formGroup.invalid"
    (click)="continueRegister()">
    {{ dataTexts.buttons.btnContinue }}
  </button>
</section>
<app-principal-loading *ngIf="loading"></app-principal-loading>
