<form [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{ dataTexts.inputs.selectICD.label }}</mat-label>
    <mat-select
    #cids
    formControlName="my_cids"
    multiple>
      <mat-form-field class="example-full-width width-100-per" appearance="fill">
        <mat-label>{{ dataTexts.inputs.searchs.iIcd.label }}</mat-label>
        <input
          matInput
          #searchCids
          [placeholder]="dataTexts.inputs.searchs.iIcd.placeholder"
          formControlName="input_my_cids"
          type="search"
          (ngModelChange)="searchCid($event)"
          (keydown)="$event.stopPropagation()"

          >
      </mat-form-field>
      <div *ngIf="usageLaguage === laguagesApplication.PT">
        <mat-option [value]="icd.id" *ngFor="let icd of filteredCids">
          {{icd.description}}
        </mat-option>
      </div>
      <div *ngIf="usageLaguage === laguagesApplication.US ">
        <mat-option [value]="icd.id" *ngFor="let icd of filteredCids">
          {{icd.description_en}}
        </mat-option>
      </div>


    </mat-select>
  </mat-form-field>
</form>
