<div id="container-etical-rules" class="height-100vh">
<div class="content-etical-rules dp-flex">
  <header class="logo-devote dp-flex-all-center">
    <img src="/assets/images/logo-blue.png" alt="Logo Devotee" data-alt="altlogo" id="altfootlogo">
    <div class="container-text-logo dp-flex-column-all-center">
      <h2 class="color-blue-dark">Bem-vindo(a) ao</h2>
      <h1 class="color-blue-dark font-booster-next-bold">Devotee</h1>
    </div>
  </header>
  <main id="etical-rules">
    <div class="content-rules dp-flex-column-all-center">
      <h3 class="color-blue-dark">Siga as regras abaixo</h3>

      <app-card-img-title-text [data]="firstRule"></app-card-img-title-text>
      <app-card-img-title-text [data]="secondRule"></app-card-img-title-text>
      <app-card-img-title-text [data]="thirdRule"></app-card-img-title-text>
    </div>

    <div class="container-buttons dp-flex">
      <button class="button secondary flex-1" (click)="navigateTo(enumRoutes.PRE_REGISTER)">
        {{dataTexts.buttons.btnBack}}
      </button>
      <button class="button primary flex-1">
        {{dataTexts.buttons.btnContinue}}
      </button>

    </div>
  </main>
</div>
<app-footer [backgroudColor]="'bg-color-blue-dark'"></app-footer>
</div>
