@import '_sizes';
#container-etical-rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .content-etical-rules {
    height: $s-100per;
    .logo-devote {
      gap: $s-20px;
      img {
        max-width: 115px;
      }
      .container-text-logo {
        h1 {
          font-size: 2.6rem;
        }
      }
    }
    #etical-rules {
      margin-top: $s-15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $s-20px;
    }
  }
  app-footer {
    width: $s-100vw;
  }
}
