@import '_custom';
#landing-page {
  .only-mobile {
    @include min-tablet {
      display: none;
    }
  }

  .container-logo-login {
    @include dp-flex-alignment(row, center, space-between);
    background: transparent linear-gradient(180deg, $sand-medium 0%, $sand-soft 100%) 0% 0% no-repeat padding-box;;
    .logo {
      @include dp-flex-alignment(row, center, initial);
      gap: 5px;
      img {
        width: 25px;
        max-width: 45px;
        height: auto;
        @include min-tablet {
          width: 100%;
        }
      }
      .title-logo {
        font-size: 1.2rem;
        @include min-tablet {
          font-size: 2.5rem;
        }
      }
    }
    .container-button-header {
      @include dp-flex-alignment(row, initial, initial);
      gap: 50px;
      .container-buttons-desk {
        display: none;
        @include min-tablet {
          @include dp-flex-alignment(row, initial, initial);
          gap: 50px;
        }
      }
      .btn-login {
        padding: 8px 34px;
      }
    }
  }
  .container-welcome-app {
    background: transparent linear-gradient(180deg, $sand-soft 0%, $sand-medium 100%) 0% 0% no-repeat padding-box;
    @include min-tablet {
      @include dp-flex-alignment(row, center, space-between);

    }
    .container-title-text {
      @include dp-flex-alignment(column, initial, initial);
      gap: 40px;
      .content-title-text {
        @include dp-flex-alignment(column, initial, initial);

      }
    }
    .container-desk-register {
      @include dp-flex-alignment(column, initial, initial);
      gap: 10px;
      @media screen and (max-width: $min-tablet){
        display: none;
      }
      .desk-register-title {
        font-size: 28px
      }
      .btn-register-desk {
        @include dp-flex-alignment();
        max-width: 200px;
      }
    }

    .container-cellphone-button {
      .content-cellphone {
        img {
          width: 100%;
          @include min-tablet {
            max-width: 400px;
          }
          @include medium-tablet {
            max-width: 600px;
          }
        }
      }
      .container-buttons-text {
        .content-buttons {
          padding: 0;
          @include dp-flex-alignment(row, center, space-between);
          @include min-tablet {
            justify-content: flex-end;
          }
          .button {
            padding: 8px 18px;
          }
          .buttons-download {
            @include dp-flex-alignment(row, initial, initial);
            gap: 10px;
            img {
              height: 25px;
              @include min-tablet {
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
  h2 {
    @include min-tablet {
      font-size: 50px;
    }
  }
  p {
    @include min-tablet {
      font-size: 30px;
    }
  }
  .container-devotee-shop {
    @include dp-flex-alignment(column, flex-end, flex-end);
    background:  transparent linear-gradient(180deg, #DDE6F0 0%, #E9EFEF 100%) 0% 0% no-repeat padding-box;
    &.max-size {
      max-width: 1150px;
    }
    .container-cellphone-button {
      @include dp-flex-alignment(row, center, space-between);
      gap: 10px;
      width: 100%;
      .button {
        @include min-tablet {
          width: 200px;
        }
      }
      img {
        max-width: 150px;
        @include min-tablet {
          max-width: 400px
        }
        @include medium-tablet {
          max-width: 600px;
        }
      }
      .container-text-button {
        @include dp-flex-alignment(column, flex-end, flex-end);
        gap: 10px;
        text-align: right;
        .button {
          padding: 8px 18px;
        }
      }
    }

  }

}
.container-default-lp {
  padding: 20px 30px;
}
