<div id="landing-page">
  <header class="container-logo-login">
    <div class="container-logo-login width-100-per container-default-lp container-default">
      <section class="logo">
        <img src="/assets/images/logo-blue.png" alt="Logo Devotee" srcset="">
        <span class="font-booster-next-bold color-blue-dark title-logo">Devotee</span>
      </section>
      <section class="container-button-header dp-flex-row-initial">
        <div class="container-buttons-desk dp-flex-row-initial">
          <div class="button link-icon-text font-booster-next-bold">
              <mat-icon svgIcon="local_mall"></mat-icon>
            <a class="font-booster-next-bold color-blue-dark" href="https://www.loja.devotee.com.br/" target="_blank" rel="noopener noreferrer">
              {{dataTexts.buttons.btnShop}}
            </a>
          </div>
          <button class="button link font-booster-next-bold" (click)="goToLoginOrRegister(routesApp.PRE_REGISTER)">
            {{dataTexts.buttonsSignin.btnRegister}}
          </button>
        </div>
        <button class="button primary font-booster-next-bold btn-login" (click)="goToLoginOrRegister(routesApp.LOGIN)">
          {{dataTexts.buttons.btnEntry}}
        </button>
      </section>
    </div>

  </header>

  <article class="container-welcome-app container-default-lp">
    <div class="container-welcome-app container-default width-100-per">
      <section class="container-title-text dp-flex-column-initial">
        <div class="content-title-text dp-flex-column-initial">
          <h2 class="font-booster-next-bold color-magenta-soft">
            {{dataTexts.lading.welcome.title}}
          </h2>
          <p class="color-blue-dark f-size-18">
            {{dataTexts.lading.welcome.text}}
          </p>
        </div>

        <div class="container-desk-register only-desk dp-flex-column-initial">
          <p class="font-booster-next-bold color-blue-dark desk-register-title"> {{dataTexts.lading.simpleMatch}}</p>
          <section class="btn-register-desk">
            <button class="button third font-booster-next-bold " (click)="goToLoginOrRegister(routesApp.PRE_REGISTER)">
              {{dataTexts.buttons.btnRegisterSe}}
            </button>
          </section>
        </div>
      </section>
      <section class="container-cellphone-button">
        <div class="content-cellphone">
          <img src="/assets/images/cellphone-lp.png" alt="">
        </div>
        <div class="container-buttons-text">
          <p class="only-mobile font-booster-next-bold color-blue-dark"> {{dataTexts.lading.simpleMatch}}</p>
          <div class="content-buttons">
            <section class="only-mobile">
              <button class="button third font-booster-next-bold" (click)="goToLoginOrRegister(routesApp.PRE_REGISTER)">
                {{dataTexts.buttons.btnRegisterSe}}
              </button>
            </section>
            <section class="buttons-download dp-flex-row-initial">
              <a href="https://play.google.com/store/apps/details?id=com.phurshell.devotee&hl=pt_BR" target="_blank"
                rel="noopener noreferrer">
                <img src={{dataTexts.buttonsDownload.btnPlayStore}} alt={{dataTexts.buttonsDownload.altPlaySotre}}></a>
              <a href="https://apps.apple.com/br/app/devotee/id1331331692" target="_blank" rel="noopener noreferrer">
                <img src={{dataTexts.buttonsDownload.btnAppStore}} alt={{dataTexts.buttonsDownload.altAppStore}}></a>
            </section>
          </div>
        </div>
      </section>
    </div>

  </article>

  <article class="container-devotee-shop  container-default-lp">
    <div class="container-devotee-shop max-size container-default width-100-per">
      <h2 class="font-booster-next-bold color-magenta-soft">
        {{dataTexts.lading.devoteeShop.title}}
      </h2>
      <div class="container-cellphone-button">
        <div class="content-cellphone">
          <img src="/assets/images/cellphone-lp-shop.png" alt="">
        </div>
        <section class="container-text-button">
          <p class="color-blue-dark f-size-18">
            {{dataTexts.lading.devoteeShop.text}}
          </p>
          <section>
            <button class="button third font-booster-next-bold" (click)="navigateTo(routesApp.LOGIN)">
              {{dataTexts.buttons.btnAccess}}
            </button>
          </section>
        </section>
      </div>
    </div>

  </article>
  <section class="container-devotee-video container-default-lp">
    <div class="content-devotee-video max-size dp-flex-column-initial" >
      <h2 class="font-booster-next-bold color-magenta-soft">
        {{dataTexts.lading.devoteeVideo.title}}
      </h2>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/OH4eJYvaLlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <section class="social-media">
        <p class="f-size-18 color-gray-dark">{{dataTexts.lading.followUs.title}}</p>
        <div class="social-icons">
          <a href="https://www.youtube.com/channel/UCP_fhk3MM9ULx_5qkqgX27Q" target="_blank" rel="noopener noreferrer">
            <mat-icon svgIcon="logo_youtube"></mat-icon>
          </a>
          <a href="https://pt-br.facebook.com/devotee.network" target="_blank" rel="noopener noreferrer">
            <mat-icon svgIcon="logo_facebook"></mat-icon>
          </a>
          <a href="https://www.instagram.com/devotee.deficiente" target="_blank" rel="noopener noreferrer">
            <mat-icon svgIcon="logo_instagram"></mat-icon>
          </a>
        </div>
      </section>
    </div>

    <div class="content-devotee-midia dp-flex-column-initial" >
      <p class="color-blue-dark">{{dataTexts.lading.devoteeMidia.title}}</p>
      <div class="container-imgs">
        <a href="https://epocanegocios.globo.com/Tecnologia/noticia/2019/06/app-brasileiro-promove-paquera-entre-pessoas-com-deficiencia.html" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/logo-epoca.png" alt="">
        </a>
        <a href="https://emais.estadao.com.br/noticias/comportamento,brasileiro-cria-aplicativo-de-relacionamento-para-pessoas-com-deficiencia,70002860948" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/logo-estadao.png" alt="">
        </a>
        <a href="https://casadaptada.com.br/2018/09/conheca-o-aplicativo-devotee-o-melhor-lugar-para-conectar-voce-com-pessoas-especiais/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/logo-ansa.png" alt="">
        </a>
        <a href="https://ansabrasil.com.br/brasil/noticias/brasil/tecnologia/2019/06/07/app-brasileiro-promove-paquera-entre-pessoas-com-deficiencia_634943f4-a377-4656-aa52-508083528e55.html" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/logo-casadaptada.png" alt="">
        </a>
        <a href="https://somostodosgigantes.com.br/tag/app-devotee/" target="_blank" rel="noopener noreferrer">
          <img src="/assets/images/logo-inn.png" alt="">
        </a>
      </div>

    </div>
  </section>
  <app-footer [backgroudColor]="'bg-color-blue-dark'"></app-footer>
</div>
